/* line 17, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Nexa Bold";
  src: url("/fonts/NexaBold.otf") format('opentype'); }

@font-face {
  font-family: "Nexa Light";
  src: url("/fonts/NexaLight.otf") format('opentype'); }

/* line 19, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
html {
  height: 100%;
  width: 100%;
  font-family: "Nexa Light", Helvetica;
  font-size: 1.2em; }

/* line 25, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
h2 {
  font-size: 1.5em;
  font-family: "Nexa Light", Helvetica;
  color: white; }

/* line 30, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
a {
  color: white;
  text-decoration: none; }
  /* line 33, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  a:visited {
    color: inherit; }

/* line 36, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.section {
  width: 100%;
  height: 545px; }
  @media only screen and (min-width: 768px) {
    /* line 36, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .section {
      height: 700px; } }
  @media only screen and (min-width: 1224px) {
    /* line 36, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .section {
      height: 700px; } }
  @media only screen and (min-width: 1824px) {
    /* line 36, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .section {
      height: 950px; } }
  /* line 45, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .section:not(:last-child) {
    margin-bottom: 40px; }

/* line 48, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.container {
  margin-top: 60px;
  width: 100%; }

/* line 52, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.submenu {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2555;
  text-align: center;
  color: white;
  background: black; }

/* line 64, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.inner {
  margin-top: 20px; }
  /* line 66, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner .active {
    color: #aa161b; }
    /* line 68, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .inner .active:hover {
      color: #aa161b;
      text-shadow: none; }
  /* line 71, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner li {
    display: inline-block;
    margin: 0 2%; }
  /* line 74, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner a {
    font-family: "Nexa Bold", Helvetica;
    color: white;
    transition: color 0.2s;
    text-transform: uppercase; }
    /* line 79, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .inner a:hover {
      color: white;
      text-shadow: -3px 0 3px #aa161b, 0 3px 3px #aa161b, 3px 0 3px #aa161b, 0 -3px 3px #aa161b; }

/* line 83, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.langs {
  margin: -20px 10px 0 0;
  float: right;
  display: inline-block;
  font-family: "Nexa Light", Helvetica; }
  @media only screen and (max-width: 400px) {
    /* line 83, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .langs {
      margin: 0 10px 0 0; } }
  /* line 91, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .langs a:hover {
    color: #aa161b; }

/* line 94, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.resume {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  width: 85px;
  text-align: center;
  color: black;
  border: 2px solid black; }
  @media only screen and (max-width: 622px) {
    /* line 94, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .resume {
      margin: 20px 0 0 0; } }
  /* line 105, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .resume:hover {
    background: black;
    color: white; }

/* line 109, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.about {
  background: white; }
  @media only screen and (max-width: 1043px) {
    /* line 109, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .about {
      text-align: center;
      height: 745px; } }

/* line 116, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.skills {
  background: #aa161b;
  box-shadow: 0 -15px 0px #a00c11, 0 -25px 0px #960207, 0 -40px 0px black;
  color: white; }
  /* line 120, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .skills h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 30px; }

/* line 123, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.contacts {
  padding-bottom: 25px;
  background: #2f2f2f;
  box-shadow: 0 -15px 0px #2a2a2a, 0 -25px 0px #252525, 0 -40px 0px black;
  color: #dddddd;
  text-align: center; }
  /* line 130, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .contacts h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 30px; }
  /* line 133, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .contacts li:not(:last-child) {
    margin-bottom: 15px; }

/* line 136, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.title-box {
  margin-top: 50px;
  vertical-align: top;
  display: inline-block; }
  /* line 140, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .title-box h1 {
    padding-bottom: 10px;
    font-size: 2.75em;
    font-family: "Nexa Bold", Helvetica; }
    @media only screen and (max-width: 622px) {
      /* line 140, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
      .title-box h1 {
        font-size: 2.65em; } }
  /* line 146, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .title-box h2 {
    color: #aa161b; }

/* line 149, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.logo {
  padding: 55px 0 0 50px;
  display: inline-block; }
  @media only screen and (max-width: 622px) {
    /* line 149, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .logo {
      width: 320px;
      padding: 55px 0 0 0; } }

/* line 157, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.activity {
  top: 300px;
  left: 500px;
  width: 500px;
  height: 250px;
  position: absolute; }
  @media only screen and (max-width: 1043px) {
    /* line 157, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .activity {
      display: none; } }

/* line 166, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.social {
  display: inline-block;
  margin-bottom: 25px;
  vertical-align: middle;
  text-align: left;
  width: 250px;
  padding-left: 100px; }
  @media only screen and (max-width: 400px) {
    /* line 166, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .social {
      padding-left: 0; } }
  /* line 175, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .social:not(:last-child) {
    box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
    border-right: 1px solid #121212; }
    @media only screen and (max-width: 400px) {
      /* line 175, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
      .social:not(:last-child) {
        padding-bottom: 25px;
        border-right: none;
        box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
        border-bottom: 1px solid #121212; } }
  /* line 183, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .social a {
    height: 25px;
    display: inline-block;
    line-height: 1.5;
    padding-left: 35px;
    background-position: 0% 0%;
    background-size: 22px 22px;
    background-repeat: no-repeat; }
    /* line 191, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .social a:hover {
      text-decoration: underline; }

/* line 194, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.github {
  background-image: url("/img/icons/github.png"); }

/* line 197, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.twitter {
  background-image: url("/img/icons/twitter.png");
  background-size: 22px 20px !important; }

/* line 201, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.vk {
  background-image: url("/img/icons/vk.png"); }

/* line 204, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.facebook {
  background-image: url("/img/icons/facebook.png"); }

/* line 207, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.location {
  background-image: url("/img/icons/location.png");
  background-size: 16px 22px !important; }

/* line 211, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.mail {
  background-image: url("/img/icons/mail.png");
  background-size: 24px 20px !important; }

/* line 215, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.phone {
  background-image: url("/img/icons/phone.png"); }
/*


*/
