/* line 17, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/local/.rvm/gems/ruby-2.1.1@deecross/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Nexa Bold";
  src: url("/fonts/NexaBold.otf") format('opentype'); }

@font-face {
  font-family: "Nexa Light";
  src: url("/fonts/NexaLight.otf") format('opentype'); }

/* line 7, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
html {
  font-family: "Nexa Light";
  font-size: 1.2em; }

/* line 11, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
h2 {
  font-size: 1.5em;
  font-family: "Nexa Light";
  color: white; }

/* line 16, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
a {
  color: white;
  text-decoration: none; }
  /* line 19, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  a:visited {
    color: inherit; }

/* line 22, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.section {
  height: 600px; }
  /* line 24, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .section:not(:last-child) {
    margin-bottom: 40px; }

/* line 27, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.container {
  margin-top: 60px; }

/* line 30, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.submenu {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  text-align: center;
  color: white;
  background: black; }

/* line 39, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.inner {
  margin-top: 20px; }
  /* line 41, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner .active {
    color: #aa161b; }
    /* line 43, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .inner .active:hover {
      color: #aa161b;
      text-shadow: none; }
  /* line 46, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner li {
    display: inline-block;
    margin: 0 2%; }
  /* line 49, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .inner a {
    font-family: "Nexa Bold";
    color: white;
    transition: color 0.2s;
    text-transform: uppercase; }
    /* line 54, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
    .inner a:hover {
      color: white;
      text-shadow: -3px 0 3px #aa161b, 0 3px 3px #aa161b, 3px 0 3px #aa161b, 0 -3px 3px #aa161b; }

/* line 58, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.langs {
  margin: -15px 10px 0 0;
  float: right;
  display: inline-block;
  font-family: "Nexa Light"; }
  /* line 64, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .langs a:hover {
    color: #aa161b; }

/* line 68, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.about {
  background: white; }

/* line 71, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.skills {
  background: #aa161b;
  box-shadow: 0 -15px 0px #a00c11, 0 -25px 0px #960207, 0 -40px 0px black;
  color: white; }
  /* line 75, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .skills h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 25px; }

/* line 80, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.contacts {
  background: #2f2f2f;
  box-shadow: 0 -15px 0px #2a2a2a, 0 -25px 0px #252525, 0 -40px 0px black;
  color: #dddddd; }
  /* line 84, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .contacts h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 25px;
    color: #dddddd; }
  /* line 90, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .contacts li:not(:last-child) {
    margin-bottom: 15px; }

/* line 93, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.title-box {
  margin-top: 50px;
  vertical-align: top;
  display: inline-block; }
  /* line 97, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .title-box h1 {
    padding-bottom: 10px;
    font-size: 3em;
    font-family: "Nexa Bold"; }
  /* line 101, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
  .title-box h2 {
    color: #aa161b; }

/* line 104, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.logo {
  padding: 55px 0 0 50px;
  display: inline-block; }

/* line 108, /Users/local/Documents/WebProjects/deecross/source/css/screen.css.sass */
.activity {
  width: 500px;
  height: 250px;
  margin: -25% 12% 0 0;
  float: right; }
